body{
    font-family: "Roboto", sans-serif;
}

header{
    position: fixed;
    width: 100%;
    z-index: 999;
}

main{
    padding-top: 60px;
    background-color: rgb(248, 249, 250);
    height: 100vh;
}

.top-banner{
    padding-left: 150px;
}

#sidebar{
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
    height: calc(100% - 64px); /* Subtract header height */
    width: fit-content;
    float: left;
    padding: 25px;
    position: fixed;
}

#sidebar i{
    width:  20px;
    height: auto;
    margin-bottom: 15px;
}

.badge-pill{
    background-color: rgb(22, 91, 186);
    font-size: 10px;
    padding: 2px 7px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
}

.main{
    margin-left: 130px;
}

.card{
    width: fit-content;
}

.code{
    background-color: rgb(242, 101, 81);
    color: white;
    padding: 5px 5px;
    border-radius: 50%;
}

.prossime-classi{
    font-size: .8rem;
    font-weight: 600;
}

.prossime-classi td, .prossime-classi th{
    text-align: center;
    width: 85px;
}

.prossime-classi th:first-child{
    width: auto;
    text-align: left;
}

.badge-pill{
    margin: 0 auto;
}

.pencil, 
.trash{
    color: gray;
    padding: 6px;
    border: 2px solid gray;
    border-radius: 4px;
}

/* FAQ */
.faq td{
    font-size: .7rem;
}

/* Todo */
.todo{
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 0;
}

.todo li{
    margin: 5px 0;
}

.todo span{
    font-weight: 500;
    font-size: small;
}

/* Graph */
.graph{
    border: 2px solid lightgray;
    border-radius: 5px;
    margin: 10px;
}

.graph li{
    border-top: 1px solid lightgray;
}

.graph li span{
    font-size: small;
}